<h2 class="font-bold text-3xl mb-2">Búsqueda por Región</h2>

<section>
  <article>
    <!-- Search box -->
    <!-- (onValue)="searchByRegion($event)" -->
    <shared-search-box
      (onDebounce)="searchByRegion($event)"
      placeholder="Buscar por capital"
    ></shared-search-box>
  </article>
</section>

<section>
  <article>
    <!-- Table results -->
    <countries-table [countries]="countries"></countries-table>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  </article>
</section>
