<h2 class="font-bold text-3xl mb-2">Búsqueda por Región</h2>

<section>
  <article class="flex justify-center gap-2">
    <!-- Search box -->
    <!-- (onValue)="searchByRegion($event)" -->
    <button
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      [ngClass]="{
        'dark:bg-purple-600 dark:hover:bg-purple-500 hover:text-black':
          selectedRegion === region
      }"
      class="py-2.5 px-5 mb-2 text-sm font-bold bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      {{ region }}
    </button>
  </article>
</section>

<section>
  <article>
    <!-- Table results -->
    <countries-table [countries]="countries"></countries-table>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  </article>
</section>
