<h2 class="font-bold text-3xl mb-2">Búsqueda por país</h2>

<section>
  <article>
    <!-- Search box -->
    <!-- (onValue)="searchByCountry($event)" -->
    <shared-search-box
      (onDebounce)="searchByCountry($event)"
      [initialValue]="iniialValue"
      placeholder="Buscar por país"
    ></shared-search-box>
  </article>
</section>

<section>
  <article>
    <!-- Table results -->
    <countries-table [countries]="countries"></countries-table>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  </article>
</section>
