<div
  *ngIf="countries.length === 0; else table"
  class="flex items-center justify-center w-full text-black font-semibold mt-4 p-4 bg-amber-300 rounded-lg shadow"
>
  <h3>No hay países para mostrar</h3>
</div>

<ng-template #table>
  <table class="min-w-full divide-y mt-4 divide-gray-200">
    <thead class="bg-gray-50 my-4">
      <tr>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
        >
          #
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
        >
          Icon
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
        >
          Bandera
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
        >
          Nombre
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
        >
          Capital
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-600 uppercase tracking-wider"
        >
          Población
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ country.flag }}
        </td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common" />
        </td>
        <td>
          {{ country.name.common }}
        </td>
        <td>
          {{ country.capital }}
        </td>
        <td>
          {{ country.population | number }}
        </td>
        <td>
          <a href="/">Ver más</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
