<div
  *ngIf="countries.length === 0; else table"
  class="flex items-center justify-center gap-2 w-full font-semibold mt-4 p-4 bg-orange-100 text-orange-700 rounded-lg"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="size-6 icon icon-tabler icons-tabler-outline icon-tabler-alert-square"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path
      d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z"
    />
    <path d="M12 8v4" />
    <path d="M12 16h.01" />
  </svg>
  <h3>No hay países para mostrar</h3>
</div>

<ng-template #table>
  <table class="min-w-full divide-y mt-4 divide-gray-200">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th class="px-6 py-3">Icono</th>
        <th class="px-6 py-3">País</th>
        <th class="px-6 py-3">Capital</th>
        <th class="px-6 py-3">Población</th>
        <th class="px-6 py-3">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let country of countries; let i = index"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ country.flag }}
        </th>
        <td class="px-6 py-4">{{ country.name.common }}</td>
        <td class="px-6 py-4">{{ country.capital }}</td>
        <td class="px-6 py-4">{{ country.population | number }}</td>
        <td class="px-6 py-4 text-right">
          <a
            [routerLink]="['/countries/by', country.cca3]"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Ver más</a
          >
        </td>
      </tr>
    </tbody>
    <!-- <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ country.flag }}
        </td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common" />
        </td>
        <td>
          {{ country.name.common }}
        </td>
        <td>
          {{ country.capital }}
        </td>
        <td>
          {{ country.population | number }}
        </td>
        <td>
          <a
            [routerLink]="['/countries/by', country.cca3]"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
            >Ver más</a
          >
        </td>
      </tr>
    </tbody> -->
  </table>
</ng-template>
