<h2 class="font-bold text-3xl mb-2">Búsqueda por capital</h2>

<section>
  <article>
    <!-- Search box -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por capital"
    ></shared-search-box>
  </article>
</section>

<section>
  <article>
    <!-- Table results -->
    <countries-table [countries]="countries"></countries-table>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  </article>
</section>
